
body{
  font-family: $primary-font;
  font-size: 16px;
  color: $text-color;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  font-family: $secondary-font;
  font-weight: 700;
  color: $text-color-dark;
}

p{
  font-size: 16px;
  color: $text-color;
}

h1 {
  font-size: 4rem !important;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3.5rem !important;
  margin-bottom: 1.3rem;
  margin: 1.5rem 0 3.5rem;
}

h3{
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

h4{
  font-size: 2.5rempx;
}

h5{
  font-size: 2rem;
}

h6{
  font-size: 1.5rem;
  font-weight: 300;
}