//site color variables
$body-color: #fff;
$primary-color: #ED69BC;
$secondary-color: #68A7AD;
$link-color:#B55390; 
$text-color: #20252A;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #ffffff;
$black: #000;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Nunito', sans-serif;
